.button {
    font-family: Arial;
    color: #fafafa;
    font-size: 20px;
    padding: 6px;
    width: 60px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.like {
    background-color: rgb(51, 204, 51);
}
.dislike {
    background-color: rgb(255, 51, 51)
}

.code {
    background-color: rgb(26, 117, 255);
}